.dropdown-menu.a:link {
  color: black
}

.dropdown-menu.a:visited {
  color: black
}

div.container {
  background-color: #000000e5;
  color: #ffffffb4;
  padding: 2rem;
  min-height: 100vh;
}

div.whole {
  background-image: url("bg.png");
  background-size: cover;
  background-attachment: fixed;
}

a:link {
  color: white
}

a:visited {
  color: white
}

.MuiIconButton-label:disabled {
  cursor: not-allowed !important
}

.form-check-input:disabled {
  cursor: not-allowed
}

button:disabled:hover {
  cursor: not-allowed
}